@import url(./test.css);
@import url(./popup.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' , sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background: #fff;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.main_window{
    height: 100%;
    width: 100%;
}

.black_header{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
}

.black_header a{
    color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: solid 2px;
    border-radius: 35px;
    min-width: 165px !important;
    width: 300px;
    transition: all 0.3s;
}

.black_header h1{
    font-size: clamp(20px,3vw,35px) !important;
    width: 60% !important;
}

.black_header a:hover{
    transition: all 0.3s;
    background-color: white;
    color: black;
}

.content{
    background-color: rgb(255, 255, 255);
}

.answer_buttons{
    display: flex;
    flex-direction: column;
}

.content h2{
    font-size: 30px;
    padding: 25px;
    color: rgb(255, 114, 118);
}

.content h2 span{
    color: #000;
    font-size: 40px;
    font-weight: 900;
    margin-right: 15px;
}

.first_row{
    width: 50%;
}

.answer_buttons{
    margin: 25px;
    height: 55%;
}

.ans_btn{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding-right: 50px;
    min-width: 900px;
    min-height: 90px;
    font-size: 25px;
    padding: 10px;
    border-radius: 15px;
    text-align: start;
    background-color: #fff;
    border: solid 1px #000;
    cursor: pointer;
}

.ans_btn:hover{
    background-color: #f5f5f5;
}

.ans_btn:active{
    border: solid 1px #707070;
    background-color: #b8d8ff;
}

.ans_btn span{
    display: flex;
    align-items: center;
    font-weight: 800;
    height: 80px;
    color: rgb(255, 114, 118);
    margin-right: 50px;
    padding-left: 25px;
    padding-right: 35px;
    font-size: 50px;
    border-right: solid 1px black;
}

.main_buttons_part{
    display: flex;
    flex-direction: row;
    height: 25%;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 15px;
}

.next_button{
    display: flex;
    padding: 10px;
}

#nxt_btn_1{
    margin-right: 25px;
}

#nxt_btn_1 .material-symbols-outlined{
    transform: rotate(180deg);
}

#nxt_btn_2{
    align-items: center;
}

.next_button button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding: 10px;
    width: 200px;
    background-color: #0070c0;
    border-radius: 35px;
    color: white;
    font-weight: 700;
    border: 0;
    transition: all 0.3s;
}

.next_button button:active{
    background-color: #5dabe2;
}

.disabled_button{
    display: none;
}

input:disabled {
    background-color: #000;
    color: #0070c0;
}

.choices_div2 .correct{
    cursor: no-drop;
    transition: all 0.3s;
    background-color: rgb(168, 255, 168);
}

.incorrect{
    cursor: no-drop;
    transition: all 0.3s;
    background: rgb(255, 144, 144);
}


.theory_eom{
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
}

.theory_eom img{
    padding: 3vw;
    width: 100% !important;
    width: auto;
    margin-left: 2vw;
    margin-right: 2vw;
}

.theory_eom p{
    padding: 2vh 3vw 2vh 3vw !important;
    font-size: clamp(20px,2vw,30px) !important;
}

.main_image{
    position: relative;
    height: 500px;
    margin: 40px;
    border-radius: 15px;
}

.theory_eom p{
    color: #000;
    font-weight: 500;
}


@media (max-width: 1180px) {
    .question_part #question {
        padding: 10px;
        margin: 10px;
        margin-top: 10px;
    }
    .button_part {
        margin-top: 5px;
        padding-bottom: 50px;
    }
    .main_buttons button {
        width: 130px;
    }
    .questions{
        margin: 15px;
    }
    .questions p{
        padding:  10px;
    }
    
}

@media (max-width: 820px) {
    .theory_eom{
        padding: 25px !important;
        flex-direction: column !important;
    }
    .step_marker_and_buttons{
        margin-top: 5vh;
        margin-left: 0 !important;
        padding: 25px;
    }
    .black_header h1{
        width: 70%;
    }
    .content{
        margin-right: 0;
    }
    .first{
        flex-direction: column;
    }
    .second{
        flex-direction: column;
    }
}

@media (max-width: 1180px) {
    .black_header h1{
        width: 50%;
    }
    .content{
        margin-right: 0;
    }
    .popup_text img{
        height: 100%;
    }
    .step_marker{
        margin-bottom: 25px !important;
    }
    .step_marker_and_buttons{
        align-items: center;
        flex-direction: column;
    }
}

@media (max-height: 500px){
    .popup_content{
        padding-top: 10px !important;
    }
    .popup_text{
        font-size: 18px !important;
        height: 75% !important;
    }
}

@media (max-width: 1180px) {
    .question_part #question{
        padding: 10px;
        margin: 10px;
        margin-top: 10px;
    }
    .button_part{
        margin-top: 5px;
        padding-bottom: 0px;
    }
    .main_buttons button {
        width: 130px;
    }
}